/*No tocar este codigo*/ 

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}
section{
	background-color: #F3F2F0;
}
/* header y sidebar */
#container{
	width: 100%;
	color:  #E6E2E2;
	background-color: : #F3F2F0;
}
.header{
	position:fixed;
	width: 100%;
	top:0;
	z-index:1030;
	transform: translate3d(0,0,0);
}
#sidebar{
 	position: fixed;
 	top:70px;
 	left: 0;
 	z-index:20;
 	background-color: #414A57;
 	padding-top: 5%;
 	padding-right: 5%;
 	padding-bottom: 100%;
 	color:  #999590;
 }
.sidebar-toggle{
 	z-index:10;
}
 .black-bg{
 	background-color: #414A57;
 }
 .fa-bars{
 	display: inline;
 	font-size: 30px;
 }
 .sidebar-toggle-box{
 	display: inline;
 }
 .nav>li>a {
 	background-color: #AC4792;
 	color: #999590;
 	display: inline-block;
 }
 .nav>li>a:hover {
 	background-color: rgba(122, 21, 96, 0.7);
 	color: white;
 }
 .header.black-bg{
	display: inline;
	padding: 2%;
 }
.nav-collapse .sidebar-menu a{
	color:  #E6E2E2;
}
.nav-collapse .sidebar-menu a:hover{
	background-color: rgba(122, 21, 96, 0.7);
 	color: white;
 	padding: 2px;
 	border-radius: 5px;
 }

.text-center .sidebar-menu .nav-collapse h5{
	color: white;
	font-size: 30px;
}
.logo a{
	color:  #E6E2E2;
}
.logo a:hover{
	color:  white;
}
li, a {
	text-decoration: none;
}
 /* header y sidebar */
 #main-content{
	position: relative;
	top: 155px;
	max-width: 80%;
	margin-left: 25%;
	color:  #E6E2E2;
}